<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header">

      </div>
      <div class="box-body">
      <div class="nav-tabs-navigation">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="<%= 'active' if current_page?(real_property_path(@real_property))%>"><%= link_to 'Info', real_property_path(@real_property) %></li>
          <li class="<%= 'active' if current_page?(real_property_arps_path(@real_property))%>"><%= link_to 'ARP', real_property_arps_path(@real_property) %></li>
          <li class="<%= 'active' if current_page?(real_property_encumberances_path(@real_property))%>"><%= link_to 'Encumberances', real_property_encumberances_path(@real_property) %></li>
           <li class="<%= 'active' if current_page?(real_property_revisions_path(@real_property))%>"><%= link_to 'Revisions', real_property_revisions_path(@real_property) %></li>

          <li class="<%= 'active' if current_page?(real_property_settings_path(@real_property))%>"><%= link_to 'Settings', real_property_settings_path(@real_property) %></li>
          <li class="<%= 'active' if current_page?(real_property_reports_path(@real_property))%>"><%= link_to 'Reports', real_property_reports_path(@real_property) %></li>
          <li class="<%= 'active' if current_page?(real_property_transactions_path(@real_property))%>"><%= link_to 'Transactions', real_property_transactions_path(@real_property) %></li>


        </ul>
        <div class="content">
          <% if current_page? real_property_path(@real_property) %>
            <%= render 'real_properties/partials/info' %>
          <% elsif current_page? real_property_settings_path(@real_property) %>
            <%= render 'real_properties/partials/settings' %>
          <% elsif current_page? real_property_arps_path(@real_property) %>
            <%= render 'real_properties/partials/arps' %>

          <% elsif current_page? real_property_revisions_path(@real_property) %>
            <%= render 'real_properties/partials/revisions' %>
          <% elsif current_page? real_property_encumberances_path(@real_property) %>
            <%= render 'real_properties/partials/encumberances' %>
          <% elsif current_page? real_property_reports_path(@real_property) %>
            <%= render 'real_properties/partials/reports' %>
            <% elsif current_page? real_property_transactions_path(@real_property) %>
            <%= render 'real_properties/partials/history' %>

          <% end %>
        </div>
