<%= @real_property.subdivided_real_property.try(:description) %>
<hr>
<%= @real_property.description %>
<hr>
<%= @real_property.current_owner_name %>
<hr />
<%= link_to 'New Revision', new_real_property_revision_path(@real_property) %>

<p>Revisions</p>
<% @real_property.revisions.each do |revision| %>
  <%= revision.date %>
<% end %>
<%= link_to 'New Tax Declaration', new_real_property_tax_declaration_path(@real_property) %>
<p>Tax Declarations</p>
<% @real_property.tax_declarations.each do |td| %>
  <%= td.number %>
  <%= td.cancelled %>
<% end %>

<%= link_to 'New ARP', new_real_property_assessed_real_property_path(@real_property) %>
<% @real_property.assessed_real_properties.each do |arp| %>
  <%= arp.number %>
<% end %>
<%= link_to 'New Transfer', new_real_property_transfer_transaction_path(@real_property) %>
<% @real_property.transfer_transactions.order(date_transferred: :asc).each do |transfer| %>
  <%= transfer.new_owner.try(:first_and_last_name) %>
  <%= transfer.date_transferred.try(:strftime, ("%B %e, %Y")) %>
<% end %>

<%= link_to 'New Subdivision', new_real_property_subdivision_path(@real_property) %>
<%= link_to 'Add Owner', new_real_property_additional_taxpayer_path(@real_property) %>
