<h4>Settings</h4>
<%= link_to 'New Classification', new_settings_classification_path %>

<% Configurations::Classification.all.each do |classification| %>
  <%= link_to classification.name, settings_classification_path(classification) %>
<% end %>

<h4> Adjustment Factors </h4>
<%= link_to "New", new_settings_adjustment_factor_path %>
<hr>
<h4>Municipalities</h4>
<%= link_to 'New Municipality', new_settings_municipality_path %>
<% Locations::Municipality.all.each do |municipality| %>
  <%= link_to municipality.name, municipality_path(municipality) %>
<% end %>
